@charset "utf-8";
/* CSS layout */

/* 默认样式 */
html{overflow-y:scroll;}          /*不懂*/
*{margin:0; padding:0; line-height:100%;}
body,div,ul,li,span,img,input,form{ margin:0; padding:0;}
body,p,h1,h2,h3,h4,h5,h6,ul,ol,dl,li,dd{ margin:0; font-weight:normal;}
ul,ol,{padding:0;}

body{ font-size:12px;font-family:"冬青黑体简体中文","微软雅黑","宋体",Arial,sans-serif;}
a{ text-decoration:none; color:#666666; cursor:pointer;}
li{ list-style:none; }
img{ border:none 0;vertical-align:top;}
/*select,input{ outline:none; border:none; background:none;}
input,textarea,select{ margin:0; }					
input,textarea{ padding:0;}
input::-ms-clear{display:none;} 不懂*/
a:hover{color:#ff4400; }
.orange-color{color:#ff4400;}          /*不懂*/

/* 浮动公共样式 */
.left{ float:left; _display:inline; }
.right{ float:right; _display:inline; }
.clear:after{ display:block; content:''; clear:both;}
.clear{ zoom:1;}

*{ margin:0;padding:0;line-height:100%;}
	a{ text-decoration:none;}
	ul li,ol li{ list-style:none;}
	i,em{ font-style:normal;}
	img{ vertical-align:top;}
	b,strong,h2,h3,h4,h5,h6{ font-weight:normal; font-size:12px;}
	.clearfix:after{content:"";display:block;clear:both;}
   .clearfix{zoom:1;}
   
  

	

 